.banner-text {
    grid-column: col-start 5 / full-end;
    background-color: $color-blue-dark;
    display: grid;
    align-content: center;
    justify-items: start;
    padding: 0 4vw;
    padding: 4rem 4rem;
    @include respond (tab-port) {
        grid-column: 1 / -1;
        grid-row: 5 / 6;
    }

    &__descr {
        margin-bottom: 4rem;
    }
}

.banner-img {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(24, 1fr);
    grid-column: full-start / col-end 4;
    background: url(../img/section_best-place/best-place_bkg.png) center / cover no-repeat;
    @include respond (tab-port) {
        grid-column: 1 / -1;
    }

    &__gamer {
        grid-column: 3 / 15;
        grid-row: 3 / 12;
        width: 100%;
        @include respond (tab-port) {
            grid-column: 2 / 9;
        }
    }

    &__gamers {
        grid-column: 5 / -1;
        grid-row: 10 / 23;
        transform: translateX(3.5rem);
        width: 100%;
        @include respond (tab-port) {
            grid-column: 8 / 15;
        }
        @include respond (phone) {
            grid-column: 7 / 14;
        }
    }
}