$color-green-dark: #425844;
$color-green-light: #61A568;

$color-blue-dark: #101D2C;

$color-gray-dark: #AAAAAA;
$color-gray-light: #F5F5F5;
    
    
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}