.cards {
    display: grid;
    padding: 15rem 0;
    grid-gap: 4rem 6rem;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    grid-column: center-start / center-end;
    background-color: $color-gray-light;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $color-blue-dark;
    grid-row-gap: 4.5rem;

    &__img {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    &__platform-name {
        grid-row: 1 / 2;
        justify-self: center;
        align-self: end;
        transform: translateY(50%);
        width: 80%;
        text-align: center;
        padding: 1.5rem 0;
        grid-column: 1 / -1;
        background: $color-green-dark;
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2rem;
    }

    &__icon {
        margin-right: .8rem;
    }
}

.desctiprion {
    margin-left: 2rem;
    display: flex;
}