.footer {
    grid-column: full-start / full-end;
    background-color: $color-blue-dark;
    padding: 8rem 3rem;
    border-top: .3rem solid $color-gray-light;

    &__logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 8rem;
    }
}

.menu {
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        justify-items: center;
        grid-gap: 3.4rem;
    }

    &__item {
        list-style: none;
    }

    &__link {

        &:link,
        &:visited {
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 300;
            font-size: 1.6rem;
            text-align: center;
            color: $color-white;
            transition: all .3s;
            display: inline-block;
            &:hover {
                font-size: 1.7rem;
                color: $color-green-dark;
            }
        }
    }
}