.gamers {
    grid-column: col-start 7 / full-end;
    background-color: $color-blue-dark;
    display: grid;
    grid-template-columns: min-content max-content;
    grid-gap: 4rem 2rem;
    align-content: center;
    justify-content: center;
    &__img {
        width: 7rem;
        border-radius: 100%;
    }

    &__text {
        align-self: center;
    }

    &__scope {
        color: $color-gray-dark;
    }
}