.header {
    grid-column: full-start / col-end 6;
    background-color: $color-blue-dark;
    display: grid;
    grid-template-rows: 1fr min-content minmax(10rem, min-content) 1fr;
    padding: 5rem 4.5rem 5rem 6rem;
    background: url(../img/section_header/header_bkg.png) center / cover no-repeat;

    &__line-text {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2rem;
        color: $color-gray-dark;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-gap: 2rem;
        margin-bottom: 1.3rem;
        align-items: center;

        &::after,
        &::before {
            display: block;
            content: '';
            height: .1rem;
            background: $color-green-dark;
            border: 1px solid #AAAAAA;
        }
    }

    &__img {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        justify-items: center;
    }
}