.sidebar {
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    background-color: $color-green-dark;
    padding: 2.5rem 1.5rem;
}

.hamburger {
    border: none;
    background-color: $color-white;
    height: .2rem;
    width: 4.5rem;

    &::after,
    &::before {
        content: '';
        background-color: $color-white;
        height: .2rem;
        width: 4.5rem;
        display: block;
        
    }

    &::after {
        transform: translateY(1rem);
    }

    &::before {
        transform: translateY(-1rem);
    }
}